
/* MAIN STYLES */

html, body {
	font-family: 'Alegreya', serif;
	font-size: 18px;
}
body {
	background: #f3f3f3;
}
hr {
	border-bottom: 0;
	border: 1px dashed #dcdcdc;
}

.container {
	width: 780px;
	max-width: 90%;
	margin: 0 auto;
}

h1, h2 {
	margin-top: 3rem;
}


/* COVER */
.cover {
	margin: 6rem 0;
	max-height: 100vh;
}
	.cover h1 {
		font-size: 180%;
		margin: 0;
	}
	.cover h2 {
		font-size: 110%;
	    margin: 0.4rem 0;
	    color: #616161;
	}

.book-info {
	text-align: right;
	margin-top: 15rem;
}


/* FIGURE */

.fig {
	display: block;
	text-align: center;
	margin: 1.5rem 0;
}
	.fig img {
		max-height: 300px;
	}

.fig .caption {
	color: #999;
	font-style: italic;
	font-size: 0.9rem;
}
	.fig .caption .fig-text{
		color: #000;
		font-weight: bold;
	}

@media(max-width: 708px) {
	.fig img {
		width: 75%;
		max-height: none;
	}
}


/* FORMULA */

div.formula {
	text-align: right;
	max-width: 100%;
}
	div.formula img {
		max-width: 100%;
		width: 500px;
	}

p.formula-explanation {
	font-weight: bold;
	color: #666;

	padding-left: 3rem;
	border-left: 4px solid #ccc;
}

@media(max-width: 708px) {
	div.formula {
		text-align: left;
		overflow-x: auto;
	}
	div.formula img {
		width: 450px;
		max-width: none;
	}
}


/* TABLE */

div.responsive-table {
	max-width: 100%;
	overflow-x: auto;
}


/* BACT TO TOP */

div.back-to-top {
	background: #eee;
	border: 1px solid #dadada;
	border-radius: 3px;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.1);

	position: fixed;
	bottom: 10px;
	right: 10px;
}
	div.back-to-top a {
		text-decoration: none;
		padding: 0.5rem 1rem;
		display: block;
		color: #888;
	}
