@import "~bootstrap/scss/bootstrap";
//@import "~katex/dist/katex.min.css";

/* MAIN STYLES */

html, body {
    font-family: 'Alegreya', serif;
    font-size: 18px;
}
body {
    background: #f3f3f3;
}

hr {
    border-bottom: 0;
    border: 1px dashed #dcdcdc;
}

.container {
    width: 780px;
    max-width: 90%;
    margin: 0 auto;
}

h1, h2 {
    margin-top: 3rem;
}


/* COVER */
.cover {
    margin: 6rem 0;
    height: 100vh;
}
    .cover h1 {
        font-size: 180%;
        margin: 0;
    }
    .cover h2 {
        font-size: 110%;
        margin: 0.4rem 0;
        color: #616161;
    }

.book-info {
    text-align: right;
    margin-top: 15rem;
}

div.cover-image-container {
    width: 600px;
    margin: 3rem auto;
    max-width: 100%;
}
    div.cover-image-container img {
        width: 100%;
    }


/* FIGURE */

.fig {
    display: block;
    text-align: center;
    margin: 1.5rem 0;
}
    .fig img {
        //max-height: 300px;
    }

.fig .caption {
    color: #999;
    font-style: italic;
    font-size: 0.9rem;
}
    .fig .caption .fig-text {
        color: #000;
        font-weight: bold;
    }

a.figure-link {
    text-decoration: none;
    color: #828282;
}

@media(max-width: 708px) {
    .fig img {
        width: 100%;
        max-height: none;
    }
}


/* FORMULA */

.katex {
    font-size: 1em !important;
}


/* FORMULA (OLD) */

div.formula {
    text-align: right;
    max-width: 100%;
}
    div.formula img {
        max-width: 100%;
        width: 500px;
    }

p.formula-explanation {
    font-weight: bold;
    color: #666;

    padding-left: 3rem;
    border-left: 4px solid #ccc;
}

a.formula-link {
    text-decoration: none;
    color: #828282;
}

@media(max-width: 708px) {
    div.formula {
        text-align: left;
        overflow-x: auto;
    }
    div.formula img {
        width: 450px;
        max-width: none;
    }
}


/* TABLE */

div.responsive-table {
    max-width: 100%;
    overflow-x: auto;
}

table.table {
    border-collapse: collapse;

    margin-bottom: 1.2rem;
    border: 1px solid #cecece;
}
    table.table thead {
        text-align: left;
    }
    table.table thead tr th {
        padding: 0.4rem 0.9rem;
        border-bottom: 1px dashed #cecece;
    }
        table.table thead tr th:not(:last-child) {
            border-right: 1px dashed #cecece;
        }
    table.table tbody tr td {
        padding: 0.15rem 0.8rem;
    }
        table.table tbody tr:first-child td {
            padding-top: 0.8rem;
        }
        table.table tbody tr td:first-child {
            padding-left: 0.8rem;
        }
        table.table tbody tr td:not(:last-child) {
            border-right: 1px dashed #cecece;
        }
        table.table tbody tr:last-child td {
            padding-bottom: 0.8rem;
        }

table.full-width {
    width: 100%;
    min-width: 640px;
}

a.table-link {
    text-decoration: none;
    color: #828282;
}


/* BOTTOM STICKIES */

div.bottom-sticky {
    position: fixed;
    bottom: 10px;
    right: 10px;

    div {
        background: #eee;
        border: 1px solid #dadada;
        border-radius: 3px;
        box-shadow: 1px 1px 6px rgba(0,0,0,0.1);
    
        display: inline-block; 

        &:not(:last-child) {
            margin-right: 4px;
        }

        a {
            text-decoration: none;
            padding: 0.5rem 1rem;
            display: block;
            color: #888;
        }
    }
}


/* COLUMNS */

.left-column {
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.right-column {
    float: right;
    width: 50%;
    box-sizing: border-box;
}

@media (max-width: 830px) {
    .left-column, .right-column {
        float: none;
        width: auto;
    }
}

.thank-you {
    color: #888; 
    text-align: center;
    margin: 6rem 0 2rem 0;
}

.note-box {
    background: #cedaef;
    padding: 1em;
    color: #474747;
    font-style: italic;
}